<div class="todo-content">
  <h1 class="page-title">My Todos</h1>
  <div class="todo-create">
    <form #todoForm="ngForm" (ngSubmit) = "createTodo(todoForm)" novalidate>
      <input type="text" id="title" class="form-control" placeholder="Type a todo and press enter..."
             required
             name="title" [(ngModel)]="newTodo.title"
             #title="ngModel" >

      <div *ngIf="title.errors && title.dirty"
           class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          Title is required.
        </div>
      </div>
    </form>
  </div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]= "todo.completed === true" >
      <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
        <a class="todo-completed" (click)="toggleCompleted(todo)">
          <i class="material-icons toggle-completed-checkbox"></i>
        </a>
        <span class="todo-title">
            	{{todo.title}}
            </span>
        <span class="todo-actions">
                <a (click)="editTodo(todo)">
                	<i class="material-icons edit">edit</i>
                </a>
                <a (click)="deleteTodo(todo.id)">
                	<i class="material-icons delete">clear</i>
                </a>
            </span>
      </div>
      <div class="todo-edit" *ngIf="editing && editingTodo.id === todo.id">
        <input class="form-control" type="text"
               [(ngModel)]="editingTodo.title" required>
        <span class="edit-actions">
                <a (click)="updateTodo(editingTodo)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
      </div>
    </li>
  </ul>
  <div class="no-todos" *ngIf="todos && todos.length == 0">
    <p>No Todos Found!</p>
  </div>
</div>
